<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>

<div class="register-box">
  <form action="/account/admin/edit/update" method="POST">
    <h2>Modify User Account</h2>
    <p>Only the client type can be modified by an admin.</p>
    
    <label for="account_firstname">First Name:</label>
    <input type="text" id="account_firstname"  name="account_firstname" 
      value="<%= editAccountData.account_firstname %>" readonly>
    
    <label for="account_lastname">Last Name:</label>
    <input type="text" id="account_lastname" name="account_lastname" 
      value="<%= editAccountData.account_lastname %>" 
      readonly>
    
    <label for="account_email">Email:</label>
    <input type="email" id="account_email" name="account_email" 
      value="<%= editAccountData.account_email %>" 
      readonly>
    
    <label for="account_type">Account Type:</label>
    <select id="account_type" name="account_type" required>
        <% accountTypes.forEach(type => { %>
            <option value="<%= type %>"
                <%= (editAccountData.account_type === type) ? "selected" : "" %>>
                <%= type %>
            </option>
        <% }) %>
    </select>
    
    <input type="hidden" name="account_id" value="<%= editAccountData.account_id %>">    
    <button type="submit">Update Account</button>    
  </form>
  <h3>Reset User Password</h2>
    <span>Caution: This will reset the user's password. 
        This should only be done if the user has forgotten their password or at the request of the user. 
        Password will be rest to the default password.
    </span>

  <form action="/account/admin/reset-password" method="POST">   
    <input type="hidden" name="account_id"
           value="<%= editAccountData.account_id %>">
    <button type="submit">
      Reset Password
    </button>
  </form>
</div>