<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>

<div class="register-box">
    <h3>Caution: This will permanently delete this account.</h3>
    <form id="updateForm" action="/account/admin/delete" method="POST">
         <label for="account_firstname">First name</label>
         <input type="text" name="account_firstname" id="account_firstname"
        required value="<%= deleteAccountData.account_firstname %>"readonly>

        <label for="account_lastname">Last name</label>
        <input type="text" name="account_lastname" id="account_lastname"
        required value="<%= deleteAccountData.account_lastname %>" readonly>

        <label for="account_email">Email address</label>
        <input type="email" name="account_email" id="account_email"
        required value="<%= deleteAccountData.account_email %>"readonly>

        <button type="submit">Delete</button>
        <input type="hidden" name="account_id"
         value="<%= deleteAccountData.account_id %>">
    </form>    
</div>