<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>  
<div class="register-box">
  <form action="/account/register" method="POST">       
    <label>First name</label>
    <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>">
    <label>Last name</label>
    <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>">
    <label>Email address</label>
    <input type="email" name="account_email" name="account_email" id="account_email" required value="<%= locals.account_email %>">
    <div class="password">    <label for="account_password">Password:</label> 
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    </div>
    
    <button type="submit">Register</button>
  </form>
</div>